<link rel="stylesheet" href="~/css/Players.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.3/css/jquery.dataTables.min.css" />
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>

<div class="row justify-content-center">
    <div class="col-lg-5 justify-content-center">
        <div id="titleMessageBox" class="ro">
            <div class="col-sm text-center">
                <h1 class="display-10">Players List
                </h1>
            </div>
        </div>
    </div>
</div>

<div class="dataTableContainer">
    <table id="GamesTable" class="display table-dark table-hover text-center zui-table zui-table-rounded" style="width:100%; color:white">
        <thead>
            <tr>
                <th>Profile Picture</th>
                <th>Username</th>
                <th>Total played hours</th>
                <th>Join Date</th>
                <th>Actions</th>

            </tr>
        </thead>
        <tbody>
            <tr>
                <td><img style="width:130px; border-radius:1000px" src="/Images/gof.jpg"></td>
                <td>Asakari</td>
                <td>420</td>
                <td>23/06/2019</td>
                <td>
                    <a class="btn btn-primary fa fa-info"></a>
                    <a class="btn btn-success fa fa-pencil-square"></a>
                    <a class="btn btn-danger fa fa-trash"></a>

                </td>

            </tr>
            <tr>
                <td><img style="width:200px; border-radius:100px" src="/Images/masterChief.jpeg"></td>
                <td>Azoth2001</td>
                <td>1002</td>
                <td>12/05/2022</td>
                <td>
                    <a class="btn btn-primary fa fa-info"></a>
                    <a class="btn btn-success fa fa-pencil-square"></a>
                    <a class="btn btn-danger fa fa-trash"></a>
                </td>

            </tr>
        </tbody>
    </table>
</div>
<script>
    $(document).ready(function () {
        $('#GamesTable').DataTable();
    });
</script>
<script src="https://cdn.datatables.net/1.13.3/js/jquery.dataTables.min.js">