@{
    ViewData["Title"] = "Players Details Page";
}
<link rel="stylesheet" href="~/css/Players.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.3/css/jquery.dataTables.min.css" />
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>

<div class="container">
    <div class="row">

    </div>
    <div class="row justify-content-start">
        <div class="col-4">
            <div class="row">
                <img id="profilePicture" src="/Images/gof.jpg">
            </div>

        </div>
        <div class="col-sm-8 contentHeaderContainer">
            <p class="title">Asakari </p>S
            <br />
            <p class="subTitle">Total hours played: 420</p>
        </div>
    </div>
    <div class="row contentBodyContainer align-content-xxl-center">
       <p class="subTitle">Rent history</p>
        <div class="dataTableContainer">
            <table id="GamesTable" class="display table-dark table-hover text-center zui-table zui-table-rounded">
                <thead>
                    <tr>
                        <th></th>
                        <th>Title</th>
                        <th>Genre</th>
                        <th>Total hours played</th>
                        <th>Last played on</th>
                        <th>Actions</th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><img style="width:200px; border-radius:60px" src="/Images/PoPWW.jpg"></td>
                        <td>Prince of Persia: Warrior Within</td>
                        <td>Action/Adventure</td>
                        <td>123</td>
                        <td>3/12/2023</td>
                        <td>
                            <a type="button" class="btn btn-dark fa fa-info" asp-controller="Games" asp-action="GameDetails"></a>
                            <a class="btn btn-dark fa fa-pencil-square"></a>
                            <a class="btn btn-dark fa fa-trash"></a>

                        </td>

                    </tr>
                    <tr>
                        <td><img style="width:200px; border-radius:60px" src="/Images/LoKSR.jpg"></td>
                        <td>Legacy of Kain: Soul Reaver</td>
                        <td>Action/Horror/Fantasy</td>
                        <td>50</td>
                        <td>01/06/2022</td>
                        <td>
                            <a type="button" class="btn btn-dark fa fa-info" asp-controller="Games" asp-action="GameDetails"></a>
                            <a class="btn btn-dark fa fa-pencil-square"></a>
                            <a class="btn btn-dark fa fa-trash"></a>
                        </td>

                    </tr>
                    <tr>
                        <td><img style="width:200px; border-radius:60px" src="/Images/Turok2.jpg"></td>
                        <td>Turok 2</td>
                        <td>FPS</td>
                        <td>267</td>
                        <td>21/11/2023</td>
                        <td>
                            <a type="button" class="btn btn-dark fa fa-info" asp-controller="Games" asp-action="GameDetails"></a>
                            <a class="btn btn-dark fa fa-pencil-square"></a>
                            <a class="btn btn-dark fa fa-trash"></a>
                        </td>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#GamesTable').DataTable();
    });
</script>
<script src="https://cdn.datatables.net/1.13.3/js/jquery.dataTables.min.js">