h1 {
    color:rgb(255, 255, 255);
    font-family: 'Book Antiqua';
}

#titleMessageBox {
    background-color: rgb(0, 0, 0,.7);
    border-radius: 50px;
    width:70%;
    margin-left:auto;
    margin-right:auto;
}
p {
    font-family: 'Book Antiqua';
    color: rgb(255, 255, 255);
    font-size: 20px;
}

#contentMessageBox {
    background-color: rgb(0, 0, 0,.7);
    border-radius: 20px;
    width: 60%;
    margin-top:50px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 20px 20px 20px;
}

.dataTableContainer {
    background-color: rgba(36, 161, 189,.7);
    border-radius: 20px;
    padding: 20px 20px 20px 20px;
}

.contentHeaderContainer {
    background-color: rgb(0, 56, 74,.9);
    border-radius: 20px;
    padding: 20px 20px 20px 20px;
    margin-bottom: 10px;
}

.contentBodyContainer {
    background-color: rgb(0, 56, 74,.9);
    border-radius: 20px;
    padding: 20px 20px 20px 20px;
    margin-left: 1px;
}