@model GameViewModel
@{
    ViewData["Title"] = "Games Details Page";
}
<link rel="stylesheet" href="~/css/Games.css">

<div class="container dataTableContainer">
    <div class="row justify-content-start">
        <div class="col-4">
            <div class="row">
                <img class="detailedImg" src=@Model.CoverImageUrl>
            </div>
            <div class="row-lg">
                <a id="rentButton" class="btn btn-dark btn-lg" role="button" asp-action="RequestAccess" asp-route-id="@Model.Id"> Rent Game</a>
            </div>
           
        </div>
        <div class="col-sm-8 contentHeaderContainer">
            <p class="title">@Model.Title</p>
            <br />
            <p class="subTitle">Genre: @Model.Genre</p>
        </div>
    </div>
    <div class="row contentBodyContainer align-content-xxl-center">
        <p class="subTitle"> Description</p>
        <br />
        <p class="bodyText">
            @Model.Description    
        </p>
        <br />
        <p class="subTitle">Trailer</p>
        <iframe src=@Model.TrailerUrl title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
</div>