@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/css/Home.css">

<div class="container">
    <div id="titleMessageBox" class="ro">
        <div class="col-sm text-center">
            <h1 class="display-4">Welcome on Gamespirit</h1>
        </div>
    </div>

    <div id="contentMessageBox" class="row">
        <div class="col-sm text-center">
            <p> Gamespirit is a platform where you can easily rent games and play with your friends.
                <br />
                We hope you'll enjoy this experience!
            </p>
        </div>
    </div>
</div>